<h2>Formula 1 Pilots</h2>
<ul class="pilots">
  <li *ngFor="let pilot of pilots"
      (click)="onSelect(pilot)"
      [class.selected]="pilot === selectedPilot">
    <span class="badge">{{pilot.number}}</span> {{pilot.firstName}} {{pilot.lastName}}
  </li>
</ul>

<div *ngIf="selectedPilot" class="pilots-info">
  <h2>{{selectedPilot.number}}</h2>
  <div class="pilot-name">{{selectedPilot.firstName}} {{selectedPilot.lastName}}</div>
  <div class="pilot-team">{{selectedPilot.team | uppercase}}</div>
</div>