.inner-wrapper {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0 40px;
}

.wrapper-full-width {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.team-index-preview {
    list-style: none;
    margin: 0 auto;
    max-width: 1440px;
}