.team-info {
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-out;
  width: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  display: table;
  min-height: 250px;
}

.team-details-left {
  display: table-cell;
  padding: 0 0 0 30px;
  width: 46.33%;
  vertical-align: top;
}

.team-details-right {
  display: table-cell;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  position: absolute;
  width: 53.67%;
}

.image {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s ease-out;
  object-fit: cover;
}

.team-preview-drivers {
  list-style: none;
  margin-bottom: 10px;
  margin-top: -15px;
}

.team-preview-driver {
  color: #545454;
  font-size: 14pt;
  line-height: 1;
  margin-bottom: 13px;
  padding-bottom: 10px;
}

.team-preview-driver::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e609';
  display: inline-block;
  font-size: 15px;
  font-size: 1.5rem;
  height: 18px;
  line-height: 1;
  margin-right: 10px;
  text-align: center;
  width: 28px;
}

.brand-image {
  display: block;
  float: left;
  height: 125px;
  /* padding: 0 15px 15px 0; */
  width: 50%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.brand-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle
}

.team-details-right :hover {
  transform:scale(1.1);
}

.stat-key {
  padding: 4px 0 4px 10px;
  text-align: left;
  width: 50%;
  font-family: 'F1Bold',Helvetica,sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.222;
  color: black;
}

.stat-value {
  font-size: 14pt;
  padding-left: 10px
}

.stat-list {
  display: block;
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  padding-bottom: 20px;
  border: 0;
}

h3 {
  font-family: 'F1Regular';
  color: black;
}

.team-color {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
  z-index: 1;
}

.top-info {
  min-height: 150px;
}